# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.NopCommerce.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\work\dev projects\GetTicket\nopcommerce2\nopCommerce\src\.idea\.idea.NopCommerce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
